@import '_variables';

::-webkit-input-placeholder {color: $textcolor; padding-top: 5px;}
::-moz-placeholder          {color: $textcolor;}
:-moz-placeholder           {color: $textcolor;}
:-ms-input-placeholder      {color: $textcolor;}

@font-face {
    font-family: GloberBold; /* Имя шрифта */
    src: url(../fonts/GloberBold.otf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: GloberRegular; /* Имя шрифта */
    src: url(../fonts/GloberRegular.otf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: GloberThin; /* Имя шрифта */
    src: url(../fonts/GloberThin.otf); /* Путь к файлу со шрифтом */
}

* {
    margin: 0;
    padding: 0;
}

.thin-text {
    font-family: GloberThin;
}

.regular-text {
    font-family: GloberRegular;
}

.bold-text {
    font-family: GloberBold;
}

body {
    background: $bgcolor !important;
    .flex-container {
        height: 100vh;
        display: flex;
        align-items: center;

        .main-content {
            width: 100vw;

            .beetroot-icon {
                color: $white;
                margin-bottom: 28px;
                padding-left: 15px;

                .envelope {
                    position: relative;
                    margin: 30px auto 0;
                    width: 72px;
                    height: 46px;
                    background: $iconorangebg;
                    border-radius: 0 0 2px 2px;
                    box-shadow: 0 0 1px $shadowcolor rgba(0, 0, 0, 0.15);

                    &:before,
                    &:after {
                        content: '';
                        position: absolute;
                        width: 0;
                        height: 0;
                        border: 0 solid transparent;
                        border-width: 23px 36px;
                    }

                    &:before {
                        border-bottom-color: $iconorangebg;
                        top: -100%;
                        left: 0px;
                    }

                    &:after {
                        border-right-color: $iconorange3;
                        border-left-color: $iconorange1;
                        border-bottom-color: $iconorange2;
                        border-radius: 0 0 2px 2px;
                        box-shadow: 0 1px 1px rgba(0,0,0,0.25);
                    }

                    .paper {
                        background: $white;
                        width: 68px;
                        height: 66px;
                        margin: 0 auto;
                        position: absolute;
                        left: 2px;
                        top: -30px;

                        .paper-top {
                            right: 0;
                            position: absolute;
                            border-right: 12px solid $bgcolor;
                            border-bottom: 12px solid $iconorangetop;
                        }
                    }
                }

                p {
                    font-size: 12.5px;
                    text-align: left;
                    width: 70px;
                    margin: 12px auto 0;
                }
            }

            .beetroot-form {
                background: $formbgcolor;
                padding: 17px !important;
                border-radius: 5px;

                .form-right-nose {
                    left: -9px;
                    top: 25px;
                    position: absolute;
                    border-top: 9px solid transparent;
                    border-bottom: 9px solid transparent;
                    border-right: 9px solid $formbgcolor;
                }

                .form-top-nose {
                    left: 49%;
                    top: -9px;
                    position: absolute;
                    border-left: 9px solid transparent;
                    border-right: 9px solid transparent;
                    border-bottom: 9px solid $formbgcolor;
                }

                #form-container {
                    input, .forgot-password {
                        width: 100%;
                        margin-top: 12px;
                        color: $textcolor;
                    }

                    input:nth-of-type(1) {
                        margin-top: 0;
                    }

                    input {
                        border: none;
                        border-radius: 5px;
                        height: 36px;
                        padding-left: 8px;
                        padding-top: 5px;
                        position: relative;

                        &.btn {
                            background: $bgcolor;
                            color: $white;
                            padding-top: 0;
                            line-height: 42px;
                        }

                        &:focus {
                            outline: none;
                        }
                    }

                    .fa:before {
                        color: $textcolor;
                        position: absolute;
                    }

                    .fa-user:before {
                        top: 28px;
                        right: 25px;
                    }

                    .fa-lock:before {
                        top: 76px;
                        right: 27px;
                    }

                    .forgot-password {
                        display: block;
                        text-align: center;
                        font-size: 11px;
                        padding-bottom: 0;
                        cursor: pointer;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
