$bgcolor: #1bbc9b;
$formbgcolor: #eeeff1;
$white: #ffffff;
$iconorange1: #ecc50d;
$iconorange2: #f09c13;
$iconorange3: #e67d23;
$iconorangetop: #ed4c35;
$iconorangebg: #bd9047;
$iconred1: #ed4c35;
$textcolor: #cacdce;
$shadowcolor: #c94548;
